img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
#sandra {
  color: #093509;
  text-align: center;
}
body {
  background-color: antiquewhite;
}
.navbar-nav{
  background-color:black;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: yellow;
}
.form-group {
  margin-left: 10px;
  margin-right: 10px;
}
h2 {
  margin-left: 10px;
}
.citation {
  color: black;
  margin-left: auto;
  margin-right: auto;
}
